<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudiCap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>466BDE3D1F4889000032C30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466BDE561F4889000032C30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466BDE611F4889000032C30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
